#
# Ambient Light Sensor sysfs device configuration
#

menuconfig ALS
	tristate "Ambient Light Sensor sysfs device"
	help
	  This framework provides a generic sysfs I/F for Ambient Light
	  Sensor devices.
	  If you want this support, you should say Y or M here.

if ALS

config ALS_ISL29003
	tristate "Intersil ISL29003 ambient light sensor"
	depends on I2C && SYSFS
	help
	  If you say yes here you get support for the Intersil ISL29003
	  ambient light sensor.

	  This driver can also be built as a module.  If so, the module
	  will be called isl29003.

config ALS_TSL2550
	tristate "Taos TSL2550 ambient light sensor"
	depends on EXPERIMENTAL && I2C
	help
	  If you say yes here you get support for the Taos TSL2550
	  ambient light sensor.

	  This driver can also be built as a module.  If so, the module
	  will be called tsl2550.

endif #ALS
