copy: *.diff
copy: Module.kabi_*
copy: *.mk
copy: *.modules
copy: *.ovz
copy: *.patch
copy: *.pl
copy: *.sh
copy: check-kabi
copy: diff-*
copy: find-provides
copy: genkey
copy: kabi_whitelist_*
copy: kabitool
copy: patch-*
tar: xen name=xen-15502 base=
